.vscode/**
.vscode-test/**
AGENTS.md
.gitignore
.gitattributes
**/*.map
**/*.ts
**/tsconfig.json
**/.eslintrc.json
node_modules/**
out/**
src/**
esbuild.config.*
.git/**
*.vsix
.DS_Store
.editorconfig
*.log
*.lock
package-lock.json
yarn.lock
